html, body {
  height: 100%;
}

main.container-fluid {
  height: calc(100vh - 56px - 0.5rem);
}

.transcript-area {
  height: 100%;
  resize: none;
  line-height: 1.6;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  white-space: pre-wrap;
}
